{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema de Mercado{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script defer src="{% static 'js/menu.js' %}"></script>
</head>
<body>
    <header class="navbar">
        <div class="container navbar-container">

            <h1 class="logo">🛒 Mercado Django</h1>

            <div class="menu-icon" onclick="toggleMenu()">☰</div>

            <nav class="nav-links" id="mobileMenu">
                <a href="{% url 'produto:inicio' %}">Início</a>
                <a href="{% url 'produto:cadastrar' %}">Cadastrar Produto</a>
            </nav>

        </div>
    </header>

    <main class="container main-content">
        {% block content %}
        {% endblock %}
    </main>

    {% include 'partials/_footer.html' %}
</body>
</html>
